html {
    background-color: rgb(82, 80, 80);
}

.heading {
    text-align: center;
    color: rgb(219, 73, 73)
}
.buttons {
    text-align: center;
    padding: 1em;
    margin-right: 20px;
}
.buttons button {
    border-radius: 30%;
}
.buttons button:hover {
    background-color: rgb(219, 73, 73);
    
}

.container {
    background-color: white;
    display: grid;
    width: 40%;
    height: 75%;
    border: rgb(219, 73, 73) solid 10px;
    margin: auto;
}

.pixel {
    display: flex;
}